# Run tests against supported Node versions

version: 2.1

orbs:
  node: circleci/node@5.0.2

executors:
  node24:
    docker:
      - image: cimg/node:24.0.0
    working_directory: ~/workspace
  node22:
    docker:
      - image: cimg/node:22.0.0
    working_directory: ~/workspace
  node20:
    docker:
      - image: cimg/node:20.0.0
    working_directory: ~/workspace

jobs:
  test:
    parameters:
      executor:
        type: executor
    executor: << parameters.executor >>
    steps:
      - checkout
      - run:
          name: Report Node and NPM versions
          command: echo "Using Node $(node --version) and NPM $(npm --version)"
      - run:
          name: Install dependencies
          command: npm install
      - run:
          name: Run tests
          command: npm test

workflows:
  version: 2
  push: &push_workflow
    jobs:
      - test:
          matrix:
            parameters:
              executor:
                - node24
                - node22
                - node20
  cron:
    <<: *push_workflow
    triggers:
      - schedule:
          # Times are UTC.
          cron: "0 10 * * *"
          filters:
            branches:
               only:
                 - main
